# Projct specific files
labelfiles/*
!labelfiles/.gitkeep 

Pipfile.lock
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]